{
  "env": {
    "browser": true,
    "mocha": true
  },
  "extends": "craftmeapp-client",
  "rules": {
    "brace-style": ["error", "stroustrup", { "allowSingleLine": false }],
    "curly": ["error", "all"],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "always-multiline"
    }],
    "no-multiple-empty-lines": ["error", { "max": 2, "maxBOF": 0, "maxEOF": 0 }],

    "import/newline-after-import": ["error", { "count": 2 }],

    "react/jsx-tag-spacing": ["error",{
      "closingSlash": "never",
      "beforeSelfClosing": "never",
      "afterOpening": "never"
    }]
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack/webpack.eslint.js"
      }
    }
  }
}